# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
ENV/
env/
.venv/

# Environment variables
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Pytest
.cache/

# Database
*.sqlite3
*.db

# Logs
*.log

# Coverage
htmlcov/
.coverage
coverage.xml

# Migrations
migrations/

node_modules
dist
dist-ssr
*.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
